/*MAVIGATION BAR*/
Link{
  text-decoration: none;
}
.main-nav {
  border-radius: 7px;
  background-color: #333333 !important;
  margin-top: 20px;
}

.nav-items{
  margin-left: 25%;
  font-size: 0.857em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff !important;
  line-height: 1.714;
}

.nav-item {
  margin-left: 20px;
  color: #fff !important;
  line-height: 1.714;
}

.nav-link {
  display: inline !important;
  padding: .3rem 1rem;
}

.nav-link-toggle {
  display: inline !important;
  padding: .5rem .5rem !important;
  margin-left: 50px;
  border: 1px solid;
}

.nav-logo {
  left: 57px;
  width: 40px;
  height: 40px;
}

.nav-quest {
  font-size: 18px;
  color: rgb(255, 208, 0);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none !important;
  line-height: 1.333;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}

.nav-quest:hover {
  font-size: 18px;
  color: rgb( 255, 208, 0 ) !important;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  text-decoration: none;
}

.nav-login {
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding-left: 5px;
}
